<!doctype html>
<html>
<head>
  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(pageStart);
    {% block pageStartJS %}
      function pageStart()
      {
        data = getData();
        google.visualization.drawChart(
          {chartType:"{{chartType}}",
           containerId:"chart_div",
           dataTable:data});
      }
    {% end %}
  </script>

  {% block getDataScript %}
  <script>
    function getData()
    {
      return [['App', 'Awesomeness'],['Sirenix Power', 10], ['Sing it Laurie', 4], ['Fairy School', 20]];
    }
  </script>
  {% end %}
  {% block pageStyle %}
  <style>
   #chart_div { width:40em; height: 40em; border: 1px solid brown; }
  </style>
  {% end %}
</head>

<body>
{% block chartDiv %}
  <div id="chart_div"></div>
{% end %}
</body>
</html>
